{% extends 'base.html' %}
{% block title %} Products {% endblock %}
{% block content %}
    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title text-center">Products</h3>
            <div class="form-group text-center p-3">
                <a href="#" onclick="return open_modal('{% url 'restaurant:create_product' %}')"
                   class="btn btn-success rounded-pill" type="submit">Create</a>
            </div>
            <table class="table table-striped table-inverse table-responsive">
                <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.type }}</td>
                        <td>${{ product.amount }}</td>
                        <td>
                            <a href="#" onclick="return open_modal('{% url 'restaurant:edit_product' product.id %}')"
                               class="btn btn-warning rounded-pill" type="submit"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a href="#" onclick="return open_modal('{% url 'restaurant:delete_product' product.id %}')"
                               class="btn btn-danger rounded-pill"><i class="bi bi-trash"></i></a>


                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No data found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
