<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form method="POST" action="{% url 'restaurant:delete_waiter' object.pk %}" class="form"
              enctype="multipart/form-data">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete waiter - {{ object.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <p>Are you sure you want to delete this waiter?</p>
                <button class="btn btn-danger rounded-pill" type="submit"><i class="bi bi-trash"></i>Delete</button>
                <a href="{% url 'restaurant:waiters' %}" class="btn btn-success rounded-pill"><span
                        class="fa fa-undo"></span>
                    Cancel</a>


            </div>
        </form>
    </div>
</div>