<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form method="POST" action="{% url 'restaurant:edit_table' object.pk %}" class="form"
              enctype="multipart/form-data">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit table</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% csrf_token %} {{ form.as_p }}
                <button class="btn btn-primary rounded-pill" type="submit"><i
                        class="bi bi-pencil-square"></i>Edit
                </button>
                <a href="{% url 'restaurant:tables' %}" class="btn btn-danger rounded-pill"><span
                        class="fa fa-undo"></span>
                    Cancel</a>
            </div>
        </form>
    </div>
</div>
