{% extends 'base.html' %}
{% block title %} Tables {% endblock %}
{% block content %}
    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title text-center">Tables</h3>
            <div class="form-group text-center p-3">
                <a href="#" onclick="return open_modal('{% url 'restaurant:create_table' %}')"
                   class="btn btn-success rounded-pill" type="submit">Create</a>
            </div>
            <table class="table table-striped table-inverse table-responsive">
                <thead class="table-dark">
                <tr>
                    <th>Number of diners</th>
                    <th>Location</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for table in tables %}
                    <tr>
                        <td>{{ table.number_diners }}</td>
                        <td>{{ table.location }}</td>
                        <td>
                            <a href="#" onclick="return open_modal('{% url 'restaurant:edit_table' table.id %}')"
                               class="btn btn-warning rounded-pill" type="submit"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a href="#" onclick="return open_modal('{% url 'restaurant:delete_table' table.id %}')"
                               class="btn btn-danger rounded-pill"><i class="bi bi-trash"></i></a>


                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No data found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
