{% extends 'base.html' %}
{% block title %} Clients {% endblock %}
{% block content %}
    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title text-center">Clients</h3>
            <div class="form-group text-center p-3">
                <a href="#" onclick="return open_modal('{% url 'restaurant:create_client' %}')"
                   class="btn btn-success rounded-pill" type="submit">Create</a>
            </div>
            <table class="table table-striped table-inverse table-responsive">
                <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Observations</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.name }}</td>
                        <td>{{ client.lastname }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.phone }}</td>
                        <td>{{ client.address }}</td>
                        <td>{{ client.observations }}</td>
                        <td>
                            <a href="#" onclick="return open_modal('{% url 'restaurant:edit_client' client.id %}')"
                               class="btn btn-warning rounded-pill" type="submit"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a href="#" onclick="return open_modal('{% url 'restaurant:delete_client' client.id %}')"
                               class="btn btn-danger rounded-pill"><i class="bi bi-trash"></i></a>


                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No data found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
