{% extends 'base.html' %}
{% block title %} Invoices {% endblock %}
{% block content %}
    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title text-center">Invoices</h3>
            <div class="form-group text-center p-3">
                <a href="#" onclick="return open_modal('{% url 'restaurant:create_invoice' %}')"
                   class="btn btn-success rounded-pill" type="submit">Create</a>
            </div>
            <table class="table table-striped table-inverse table-responsive">
                <thead class="table-dark">
                <tr>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Waiter</th>
                    <th>Table</th>
                    <th>Order</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in invoices %}
                    <tr>
                        <td>{{ invoice.date_invoice }}</td>
                        <td>{{ invoice.client.name }}</td>
                        <td>{{ invoice.waiter.name }}</td>
                        <td>{{ invoice.table.id }}</td>
                        <td>{% for order in invoice.orders.all %}<li>{{ order }}</li><br/>{% endfor %}</td>
                        <td>
                            <a href="#" onclick="return open_modal('{% url 'restaurant:edit_invoice' invoice.id %}')"
                               class="btn btn-warning rounded-pill" type="submit"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a href="#" onclick="return open_modal('{% url 'restaurant:delete_invoice' invoice.id %}')"
                               class="btn btn-danger rounded-pill"><i class="bi bi-trash"></i></a>


                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No data found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
